{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

    {% include 'components/_carrouselPromo.html.twig' %}

    {{ render(path('category_nav')) }}

    {{ render(path('app_products_filters'))}}

    <div class="container-fluid" id="sectionNewProduct">
        <div class="row">
            <div class="col-12 col-lg-8 col-md-8 g gx-2 gy-2">
                <h1>Les derniers arrivés</h1>
                <div class="row">
                    {% for product in newProducts %}
                    <div class="col-6 col-lg-2 col-md-2 g gx-2 gy-2">
                    {% include 'components/_productCard.html.twig' with {'product': product} %}
                    </div>              
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4 g gx-2 gy-2">
                <h1>Vos derniers achats</h1>
                <div class="row">
                    {% for product in buyProductsData %}
                    <div class="col-6 col-lg-2 col-md-2 g gx-2 gy-2">
                    {% include 'components/_productCard.html.twig' with {'product': product} %}
                    </div>              
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}




