{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    {% include 'components/_carrouselPromo.html.twig' %}

         {{ render(controller('App\\Controller\\ComponentsController::categoryInNav')) }}

<div class="container-fluid">
    <div class="row">
    {% if category is defined %}
        <h1>{{ category.name }}</h1>
    {% endif %}
        {% for product in products %}
        <div class="col-6 col-lg-3 col-md-3" id="productsContainer">
            {% include 'components/_productCard.html.twig'  with {'product': product} %}
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}




