
#searchBar input{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  height: 35px;
}
#searchBar button{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-color: rgba(151, 248, 190, 1);
  height: 35px;
}
#searchBar button svg{
  margin-bottom: 10px;
}


/* Le formulaire pour filter les résultats de recherche de produit */
#favoritesSwitch{
  height: 37px;
}




/* Carousel */
/* Conteneur principal */
.carousel {
  position: relative;
  background: rgb(8,67,224);
  background: linear-gradient(212deg, rgba(8,67,224,1) 30%, rgba(90,63,223,0.9831168356906163) 48%, rgba(44,186,205,1) 78%);
  width: 100%;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

div.carousel-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

/* Diapositives */
.carousel-slide {
  display: none;
  text-align: center;
}

.carousel-slide.active {
  display: block;
}

/* Images des produits */

.product-image {
  max-width: 300px;
  border-radius: 5px;
  left: 15%;
  top: 20px;
}

/* Contrôles */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.promoInfos {
  text-align: center;
  width: 600px;
  background-color: chartreuse;
  border-radius: 15px;
}
/* Carousel */