/* cartes produits */

.bi-star.filled-star {
  fill: yellow;
}

#productCard{
  height: 380px;
  width: 180px;
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
 #productImg{
  height: 120px;
  width: 120px;
  margin: 5px auto 0px auto ;
 }

 .productCardFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
 }