/* stylisation de la navigation */

.navbar{
  background-color: rgba(151, 248, 190, 1);
}

/* LOGO */

.navbar-brand{
  font-family: 'Lato';
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 3px;
  margin-left: 110% !important; 
}

/* USER */

#userDropdown{
  margin-left: 47%;
}
.dropdown-menu{
  position: absolute !important;
  margin-left: auto !important;
  z-index: 2000;
}

/* Styles de base pour le formulaire de connexion */
.form-signin {
  background-color: #ffffff; 
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  max-width: 350px; 
}

/* En-tête du formulaire de connexion */
.form-signin h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333333; 
  font-weight: normal;
  text-align: center;
}

/* Personnalisation des champs de saisie */
.form-signin input[type="email"],
.form-signin input[type="password"] {
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/* Personnalisation du bouton de connexion */
.form-signin button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; 
  color: white;
  margin-top: 10px; 
  font-size: 18px;
}


.form-signin .additional-text {
  text-align: center;
  margin-top: 15px;
}


.form-signin a {
  color: #007bff;
  text-decoration: none;
}

.form-signin a:hover {
  text-decoration: underline;
}


.dropdown-menu {
  padding: 10px;
}


.footer {
  background-color: rgba(151, 248, 190, 1);
  color: white; 
  padding: 20px; 
  width: 100vw;
}
.footer .container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.footer h1 {
  font-size: 32px; 
  margin: 0;
  letter-spacing: 0.05em; 

}


@media screen and (max-width: 1000px) {
  
}
