<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Open+Sans:wght@500;800&family=Roboto:ital,wght@0,100;0,900;1,500;1,900&display=swap" rel="stylesheet">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
     

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {% if app.flashes %}
            {% include 'components/_flash_messages.html.twig' %}
        {% endif %}
        
       {{ render(controller('App\\Controller\\ComponentsController::categoryInHeader')) }}


        {% block body %}
      
        {% endblock %}

        {% include 'partials/_footer.html.twig' %}
 <script>document.addEventListener('DOMContentLoaded', function() {
  var buttons = document.querySelectorAll('.btn-favorite');

  buttons.forEach(function(button) {
      button.addEventListener('click', function(event) {
          event.preventDefault(); 
          var productId = this.dataset.productId;
          var icon = this.querySelector('.bi-star');
          
          fetch('/profil/favorite/toggle/' + productId, {
              method: 'POST',
              headers: {
    
              }
          })
          .then(response => response.json())
          .then(data => {
      
              if (data.status === 'added') {
                  icon.style.fill = 'yellow';
              } else if (data.status === 'removed') {
                  icon.style.fill = 'black';
              }
          })
          .catch(error => {
              console.error('Error:', error);
          });
      });
  });
});</script>   
    </body>

</html>
