{% extends 'admin.html.twig' %}

{% block title %}Préparation des commandes{% endblock %}



{% block body %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Quantité restante</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}